/* Fill viewport horizontally */
.wy-nav-content {
  max-width: inherit;
}

h2 {
  color: #0173bc;
}

h3 {
  color: #2aaa8a;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 24px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

strong,
.bold {
  color: #b25567;
  font-weight: bold;
}

em {
  color: #b25567;
}

.info {
  background-color: #e3b5a6;
  border-left: solid #af242a 4px;
  border-radius: 4px;
  padding: 0.7em;
  margin-bottom: 2em;
}

.ml-2em {
  margin-left: 2em;
}
