/* Fill viewport horizontally */
.wy-nav-content {
  max-width: inherit;
}

h2 {
  color: #0173bc;
}

h3 {
  color: #2aaa8a;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 24px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

strong,
.bold {
  color: #b25567;
  font-weight: bold;
}

em {
  color: #b25567;
}

.center h2,
.center h3 {
  text-align: center;
}
.center img {
  margin-bottom: 3em !important;
}
.info {
  background-color: #e3b5a6;
  border-left: solid #af242a 4px;
  border-radius: 4px;
  padding: 0.7em;
  margin-bottom: 2em;
}
.info[data-theme="dark"] {
  background-color: #ae5365;
  border-left: solid #79070c 4px;
}
.ml-2em {
  margin-left: 2em;
}

th {
  background-color: #2980b9;
  color: #fff;
}

.color-blue {
  color: #2980b9;
}

ul li {
  list-style-type: circle !important;
}
.rst-content a:visited {
  color: #2980b9 !important;
}
.txt-indent-2em {
  text-indent: 2em;
}

.flex-row-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.flex-row-container > .flex-row-item {
  flex: 1 1 30%; /*grow | shrink | basis */
}

#behind-the-screen-of-people-who-make-websites h2,
h1 {
  background: linear-gradient(90deg, #8250df, #d42a32);
  background-clip: text;
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent;
}

#welcome-to-the-documentation-for-esl47 li.toctree-l2 {
  display: none;
}

ul.simple li a {
  font-weight: bold;
}
